<span ng-init="vm.getMyAzienda()"></span>
<div class="container">

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Dipenenti</th>
      <th>Fatturato</th>
      <th>Commesse</th>
      <th>Cancella</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="azienda in vm.azienda track by $index" ng-click="vm.detailsAzienda(azienda);">
      <td ng-bind="azienda._id" ></td>
      <td ng-bind="azienda.nome" ></td>
      <td ng-bind="azienda.tipo" ></td>
      <td ng-bind="azienda.dipendenti" ></td>
      <td ng-bind="azienda.fatturato" ></td>
      <td>{{azienda.commesse}} / {{azienda.commesseTot}} </td>
      <td ng-click="vm.deleteMyAzienda(azienda._id)">X</td>
    </tr>
  </tbody>
</table>
<button type="button" ng-click="vm.add();" class="btn btn-default" name="add">Aggiungi</button>
<br/><br/>
  <div class="form-inline">
    <input type="hidden" ng-model="vm.newAzienda.id" name="id" value="">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input ng-model="vm.newAzienda.nome" type="text" class="form-control" id="nome" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="">Tipo</label>
      <select ng-model="vm.newAzienda.tipo" class="form-control">
        <option value="">INDUSTRIE ALIMENTARI</option>
        <option value="">INDUSTRIA DELLE BEVANDE</option>
        <option value="">INDUSTRIA DEL TABACCO</option>
        <option value="">INDUSTRIE TESSILI</option>
        <option value="">CONFEZIONE DI ARTICOLI DI ABBIGLIAMENTO...</option>
        <option value="">FABBRICAZIONE DI ARTICOLI IN PELLE E SIMILI</option>
        <option value="">INDUSTRIA DEL LEGNO E DEI PRODOTTI IN LEGNO E SUGHERO...</option>
        <option value="">FABBRICAZIONE DI CARTA E DI PRODOTTI DI CARTA</option>
        <option value="">STAMPA E RIPRODUZIONE DI SUPPORTI REGISTRATI</option>
        <option value="">FABBRICAZIONE DI COKE E PRODOTTI DERIVANTI DALLA RAFFINAZIONE DEL PETROLIO</option>
        <option value="">FABBRICAZIONE DI PRODOTTI CHIMICI</option>
        <option value="">FABBRICAZIONE DI PRODOTTI FARMACEUTICI DI BASE E DI PREPARATI FARMACEUTICI</option>
        <option value="">FABBRICAZIONE DI ARTICOLI IN GOMMA E MATERIE PLASTICHE</option>
        <option value="">FABBRICAZIONE DI ALTRI PRODOTTI DELLA LAVORAZIONE DI MINERALI NON METALLIFERI</option>
        <option value="">METALLURGIA</option>
        <option value="">FABBRICAZIONE DI PRODOTTI IN METALLO (ESCLUSI MACCHINARI E ATTREZZATURE)</option>
        <option value="">FABBRICAZIONE DI COMPUTER E PRODOTTI DI ELETTRONICA E OTTICA...</option>
        <option value="">FABBRICAZIONE DI APPARECCHIATURE ELETTRICHE...</option>
        <option value="">FABBRICAZIONE DI MACCHINARI ED APPARECCHIATURE NCA</option>
        <option value="">FABBRICAZIONE DI AUTOVEICOLI, RIMORCHI E SEMIRIMORCHI</option>
        <option value="">FABBRICAZIONE DI ALTRI MEZZI DI TRASPORTO</option>
        <option value="">FABBRICAZIONE DI MOBILI</option>
        <option value="">ALTRE INDUSTRIE MANIFATTURIERE</option>
        <option value="">RIPARAZIONE, MANUTENZIONE ED INSTALLAZIONE DI MACCHINE ED APPARECCHIATURE</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Dipendenti</label>
      <input ng-model="vm.newAzienda.dipendenti" type="radio" class="form-control" value="dip1"> >10
      <input ng-model="vm.newAzienda.dipendenti" type="radio" class="form-control" value="dip2"> 11-50
      <input ng-model="vm.newAzienda.dipendenti" type="radio" class="form-control" value="dip3"> 51-250
      <input ng-model="vm.newAzienda.dipendenti" type="radio" class="form-control" value="dip4"> 250+
    </div> <br/>
    <div class="form-group">
      <label for="">Fatturato</label>
      <input ng-model="vm.newAzienda.fatturato" type="radio" class="form-control" value="fatt1"> < 2.000.000 €
        <input ng-model="vm.newAzienda.fatturato" type="radio" class="form-control" value="fatt2"> 2.000.000 € - 10.000.000 €
          <input ng-model="vm.newAzienda.fatturato" type="radio" class="form-control" value="fatt3"> 10.000.000 € - 50.000.000 €
          <input ng-model="vm.newAzienda.fatturato" type="radio" class="form-control" value="fatt4"> 50.000.000+ €
    </div>
    <div class="form-group">
      <label for="">Commesse / Commesse TOT</label>
      <input ng-model="vm.newAzienda.commesse" type="number" class="form-control" id="powers" placeholder="Commesse"> /
      <input ng-model="vm.newAzienda.commesseTot" type="number" class="form-control" id="powers" placeholder="Commesse TOT">
    </div>
    <button ng-click="vm.saveMyAzienda(vm.newAzienda);" type="submit" class="btn btn-default">Salva</button>
  </div>
</div>
