<span ng-init="vm.getMyAzienda();"></span>
<span ng-init="vm.getMyDipendenti();"></span>
<div class="container">
        <md-toolbar class="md-tall">
                <span flex=""></span>
                <span class="md-flex">
                        <h1>AZIENDA</h1>
                </span>
        </md-toolbar>



<!-- <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Dipendenti</th>
      <th>Reparti</th>
      <th>Fatturato</th>
      <th>Commesse</th>
      <th>Cancella</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="azienda in vm.azienda track by $index" ng-click="vm.detailsAzienda(azienda);">
      <td ng-bind="azienda._id" ></td>
      <td ng-bind="azienda.nome" ></td>
      <td ng-bind="azienda.tipo" ></td>
      <td ng-bind="azienda.dipendenti" ></td>
      <td ng-bind="azienda.reparti" ></td>
      <td ng-bind="azienda.fatturato" ></td>
      <td>{{azienda.commesse}} / {{azienda.commesseTot}} </td>
      <td ng-click="vm.deleteMyAzienda(azienda._id)">X</td>
    </tr>
  </tbody>
</table>

<br/><br/> -->

<div class="md-padding selectdemoBasicUsage" ng-cloak="" layout="column">
        <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Inserire dati azienda</span>
                <!-- <span class="md-subhead">Tell us a little about you.</span> -->
              </md-card-title-text>
            </md-card-title>

            <md-card-content>
              <div layout="row">
                <md-input-container>
                  <label>Ragione sociale</label>
                  <input ng-model="vm.newAzienda.nome">
                </md-input-container>

                <md-input-container>
                  <label>Tipologia</label>
                  <md-select ng-model="vm.newAzienda.tipo">
                    <md-option value="alimentari">INDUSTRIE ALIMENTARI</md-option>
                    <md-option value="bevande">INDUSTRIA DELLE BEVANDE</md-option>
                    <md-option value="tabacco">INDUSTRIA DEL TABACCO</md-option>
                    <md-option value="tessili">INDUSTRIE TESSILI</md-option>
                    <md-option value="abbigliamento">CONFEZIONE DI ARTICOLI DI ABBIGLIAMENTO...</md-option>
                    <md-option value="pelle">FABBRICAZIONE DI ARTICOLI IN PELLE E SIMILI</md-option>
                    <md-option value="legno">INDUSTRIA DEL LEGNO E DEI PRODOTTI IN LEGNO E SUGHERO...</md-option>
                    <md-option value="carta">FABBRICAZIONE DI CARTA E DI PRODOTTI DI CARTA</md-option>
                    <md-option value="stampa">STAMPA E RIPRODUZIONE DI SUPPORTI REGISTRATI</md-option>
                    <md-option value="petrolio">FABBRICAZIONE DI COKE E PRODOTTI DERIVANTI DALLA RAFFINAZIONE DEL PETROLIO</md-option>
                    <md-option value="chimici">FABBRICAZIONE DI PRODOTTI CHIMICI</md-option>
                    <md-option value="farmaceutici">FABBRICAZIONE DI PRODOTTI FARMACEUTICI DI BASE E DI PREPARATI FARMACEUTICI</md-option>
                    <md-option value="plastiche">FABBRICAZIONE DI ARTICOLI IN GOMMA E MATERIE PLASTICHE</md-option>
                    <md-option value="minerali">FABBRICAZIONE DI ALTRI PRODOTTI DELLA LAVORAZIONE DI MINERALI NON METALLIFERI</md-option>
                    <md-option value="metallurgia">METALLURGIA</md-option>
                    <md-option value="metallo">FABBRICAZIONE DI PRODOTTI IN METALLO (ESCLUSI MACCHINARI E ATTREZZATURE)</md-option>
                    <md-option value="computer">FABBRICAZIONE DI COMPUTER E PRODOTTI DI ELETTRONICA E OTTICA...</md-option>
                    <md-option value="elettriche">FABBRICAZIONE DI APPARECCHIATURE ELETTRICHE...</md-option>
                    <md-option value="nca">FABBRICAZIONE DI MACCHINARI ED APPARECCHIATURE NCA</md-option>
                    <md-option value="autoveicoli">FABBRICAZIONE DI AUTOVEICOLI, RIMORCHI E SEMIRIMORCHI</md-option>
                    <md-option value="trasporti">FABBRICAZIONE DI ALTRI MEZZI DI TRASPORTO</md-option>
                    <md-option value="mobili">FABBRICAZIONE DI MOBILI</md-option>
                    <md-option value="manifatturiere">ALTRE INDUSTRIE MANIFATTURIERE</md-option>
                    <md-option value="riparazione">RIPARAZIONE, MANUTENZIONE ED INSTALLAZIONE DI MACCHINE ED APPARECCHIATURE</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container style="margin-right: 10px;">
                        <label>Dipendenti</label>
                        <md-select ng-model="vm.newAzienda.dipendenti">
                                <md-option value="dip1">fino a 10 dipendenti</md-option>
                                <md-option value="dip2">da 11 a 50 dipendenti</md-option>
                                <md-option value="dip3">da 51 a 250 dipendenti</md-option>
                                <md-option value="dip4">oltre 250 dipendenti</md-option>
                        </md-select>
                </md-input-container>

                <md-input-container>
                        <label>Reparti</label>
                        <md-select ng-model="vm.newAzienda.reparto" multiple="">
                                <md-option value="{{reparto}}" ng-repeat="reparto in vm.reparti" ng-click="toggleSelection(reparto)">{{reparto}}</md-option>
                        </md-select>
                </md-input-container>

                <md-input-container style="margin-right: 10px;">
                        <label>Fatturato</label>
                        <md-select ng-model="vm.newAzienda.fatturato">
                                <md-option value="fatt1">fino a 2.000.000€</md-option>
                                <md-option value="fatt2">da 2.000.000€ a 10.000.000€</md-option>
                                <md-option value="fatt3">da 10.000.000€ a 50.000.000€</md-option>
                                <md-option value="fatt4">oltre 50.000.000€</md-option>
                        </md-select>
                </md-input-container>
                <md-button ng-click="vm.saveMyAzienda(vm.newAzienda)" class="md-primary">Salva</md-button>
              </div>
            </md-card-content>
    </md-card>
</div>





<div class="container">
  <div ng-repeat="dipendente in vm.dipendenti track by $index">
    <span ng-bind="dipendente.nome"></span>
  </div>
</div>
